html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.form {
  display: flex;
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
  flex-grow: 1;
}

.mat-dialog-container {
  width: 30vw !important;
  overflow-y: hidden !important;
}
.mat-dialog-content {
    overflow-y: hidden !important;
}
.mat-cell {
  text-align: left;
  margin: 0px 0px 10px 0px
}
.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 4%;
}