<div class="md-dialog-container">
    <h1 mat-dialog-title>Add new course</h1>
    <div mat-dialog-content>
        <form [formGroup]="formGroup">
            <div class="form">
                <mat-form-field>
                    <input matInput placeholder="Professor" formControlName="professor" type="text" name="professor">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <input matInput placeholder="Name*" formControlName="name" type="text" name="name">
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field>
                    <input matInput placeholder="Detailes" formControlName="detailes" type="text" name="detailes">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button [disabled]="formGroup.invalid" (click)="onComplete()">Continue</button>
        <button mat-button (click)="onCancel()" tabindex="-1">Cancel</button>
    </div>
</div>