
<div class="center">
  <div *ngIf="loading$ | async">
  Loading...
  </div>
  <div class="card" *ngFor="let comment of dataSource">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title *ngIf="!comment.anonymous">{{comment.user.name}} {{comment.user.surname}}</mat-card-title>
        <mat-card-subtitle>{{comment.creationDate |  date:'dd/MM/yyyy'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content [innerHtml]="comment.value | safeHtml">
        
      </mat-card-content> 
      <mat-card-actions *ngIf="app.localStorageItem('userRole')=='administrator' || app.localStorageItem('userId')==comment.userId">
          <button mat-button (click)="deleteComment(comment.id)">Delete</button>
        </mat-card-actions>
    </mat-card>
  </div>

  <mat-paginator [length]="(dataSource.dataCount$ | async)" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons></mat-paginator>
    <div *ngIf="app.localStorageItem('jwt')"> 
      <mat-checkbox value="anonymous" (click)="changeValue(anonymous)">Comment anonymously</mat-checkbox>
      <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="editorContent"></app-ngx-editor>
      <button mat-button (click)="onComment()">Leave comment</button>
    </div>
</div>
