<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" [routerLink]="['/']">Home</a>
    </div>
    <ul >
      <a class="navbar-brand" [routerLink]="['/users']">Users</a>
      <a class="navbar-brand" [routerLink]="['/courses']">Courses</a>
      <a *ngIf="!app.localStorageItem('jwt')" class="navbar-brand" [routerLink]="['/login']">Sign in</a>
      <a *ngIf="app.localStorageItem('jwt')" class="navbar-brand" [routerLink]="['/logout']">Sign out</a>
      <a *ngIf="!app.localStorageItem('jwt')" class="navbar-brand" [routerLink]="['/register']">Sign up</a>
      <div class="navbar-brand right" *ngIf="app.localStorageItem('jwt')" >
        Hello, {{app.localStorageItem('userSurname')}}
      </div>
    </ul>
  </div>
</nav>
