<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" [routerLink]="['/']">Home</a>
    </div>
    <ul >
      <button *ngIf="!loggedIn" class="navbar-brand" mat-button (click)="onLogin()">Sign in</button>
      <button *ngIf="!loggedIn" class="navbar-brand" mat-button (click)="onRegister()">Sign up</button>
      <button *ngIf="loggedIn" class="navbar-brand" mat-button (click)="onLogout()">Sign out</button>
      <div class="navbar-brand right" *ngIf="loggedIn" >
        Hello, {{userSurname}}
      </div>
    </ul>
  </div>
</nav>
